@charset "utf-8";
a {text-decoration:none; color:#000;}
header {margin:0 auto; min-width:100%; height:230px;}
h1 {font-size:40px; margin:0px 0px 20px 0px; margin:20px 0px 10px 0px;}

#headermenu {width:100%; height:50px; margin:0 auto; padding: 10px 0px; border-bottom:1px solid #EAEAEA; }

#headermenu > .headermenu_wrap  {width:1300px; height:40px; margin:0 auto; padding:5px 30px 0px 30px;}
#headermenu > .headermenu_wrap > ul {width:460px; height:20px; float:left; display:inline-block; font-size:12px;}
#headermenu > .headermenu_wrap > ul > li {float:left; margin:0px 5px 0px 5px; color:#EAEAEA;}
#headermenu > .headermenu_wrap > ul > li > a {color:#666;}
#headermenu > .headermenu_wrap > ul > li > a > img {opacity:0.8;}
#headermenu > .headermenu_wrap > ul > li > .instar{width:20px; height:20px; position:relative;  float:left;}
#headermenu > .headermenu_wrap > ul > li > .instar > li > a > img {width:20px; height:20px; position:absolute; }
#headermenu > .headermenu_wrap > ul > li > .instar > li > a > img[alt="instar_a"]{opacity:0;}
#headermenu > .headermenu_wrap > ul > li > .instar > li > a > img:hover {opacity:1;}
#headermenu > .headermenu_wrap > ul > li > .youtube{width:20px; height:20px; position:relative;  float:left;}
#headermenu > .headermenu_wrap > ul > li > .youtube > li > a > img {width:20px; height:20px; position:absolute;}
#headermenu > .headermenu_wrap > ul > li > .youtube > li > a > img[alt="youtube_a"]{opacity:0;}
#headermenu > .headermenu_wrap > ul > li > .youtube > li > a > img:hover {opacity:1;}

#login > ul {margin:0px 70px 0px 0px;}
#login > ul > li {float:right; margin:0px 5px 0px 5px; font-size:12px; color:#EAEAEA;}
#login > ul > li > a {color:#666;}
#login > ul > li > .greentext {color:#94C525;}

#headermenu2 {min-width:100%; height:140px; margin:0 auto; padding:30px 0px; border-bottom:1px solid #EAEAEA;}
.headermenu2_wrap {width:1300px; height:85px; margin:0 auto;}
#headermenu2 > .headermenu2_wrap >.searchbox {float: left; width:340px; height:30px; margin:10px 0px 0px 30px; border-bottom:1px solid yellowgreen;}
#headermenu2 > .headermenu2_wrap > .searchbox > input[type="text"] {width:295px; height:20px; margin:5px; float:left; cursor:pointer; border:none;}
#headermenu2 > .headermenu2_wrap > .searchbox > a > img[alt="searchicon"] {margin:5px; float:left;}
#headermenu2 > .headermenu2_wrap > .searchbox > .ran {width:300px; height:auto; padding:15px 20px; background-color: white; display:none; position:absolute; z-index:3;}
#headermenu2 > .headermenu2_wrap > .searchbox > .rkb {width:20px; height:20px; background:url(../img/rkb.png); margin:10px 0 0 0px; border:none; cursor:pointer; transition:0.3s}

#headermenu2 > .headermenu2_wrap > .logo {float:left; width:215px; height:70px; margin:10px 150px 0px 250px;}
#headermenu2 > .headermenu2_wrap > .mark {float:right; width:100px; height:40px; margin:25px 50px 0px 0px; position:relative;}
#headermenu2 > .headermenu2_wrap > .mark > a > img {position:absolute; width:100%; height:100%;}

#top_itemlist {min-width:100%; height:40px; text-align:center;}
.top_itemlist_wrap {width:1300px; height:40px; margin:0 auto;}
#top_itemlist > .top_itemlist_wrap > ul > li {float:left; margin:5px 25px;}
#top_itemlist > .top_itemlist_wrap > ul > li:nth-of-type(1) {margin:5px 25px 5px 60px;}
#top_itemlist > .top_itemlist_wrap > ul > li > a {font-size:16px; font-weight:bold;}
#top_itemlist > .top_itemlist_wrap >.menu_icon {width:40px; height:40px; float:left; margin:0px 0px 0px 20px; position:relative;}
#top_itemlist > .top_itemlist_wrap >.menu_icon > img {width:100%; height:100%;}

#toplist_detail > .toplist_detail_wrap {width:1300px; height:auto; margin:0 auto; background-color:white; position:absolute; top:40px; right:0; display:none; z-index:3;}
#toplist_detail > .toplist_detail_wrap > ul {float:left; text-align:center; padding:0px 0px 0px 10px; margin:0px 15px 5px 15px;}
#toplist_detail > .toplist_detail_wrap > ul > li:nth-of-type(1) {font-size:17px; font-weight:bold;}
#toplist_detail > .toplist_detail_wrap > ul:nth-of-type(6) {margin:0px 55px 5px 20px;}
#toplist_detail > .toplist_detail_wrap > ul:nth-of-type(7) {margin:0px 30px 5px 0px;}

footer {min-width:100%; height:660px; border-top:1px solid #EAEAEA; margin:40px 0px 0px 0px;}
footer > #footer_wrap_top {width:1300px; height:400px; margin:0 auto;}
footer > #footer_wrap_top > div {float:left;}
footer > #footer_wrap_top > .footer_menu {width:310px; height:300px; border-left:1px solid #EAEAEA; margin:50px 0px 0px 10px;}
footer > #footer_wrap_top > .footer_menu:first-of-type{border:none;}
footer > #footer_wrap_top > .footer_menu:first-of-type h2 {margin:10px 0px;}
footer > #footer_wrap_top > .footer_menu:first-of-type p {margin:5px 0px 0px 0px;}

#footer_wrap_top > .footer_menu > .footer_menu_wrap > .add_span_1:after {content: "301-0232-6063-31"; margin:0px 0px 0px 7px; font-size:30px; font-weight:bold;}
#footer_wrap_top > .footer_menu > .footer_menu_wrap > .btn1{width:100px; height:30px; border:none; background-color:#434343; color:white; padding:0px 10px 5px; font-size:12px; margin:40px 0px 0px 0px;}
#footer_wrap_top > .footer_menu > .footer_menu_wrap > .btn1:hover{background-color:darkgray;}

#footer_wrap_top > .footer_menu > ul > li {width:130px; height:30px; border:none; background-color:#EEEEEE; padding:5px; font-size:14px; margin:3px 3px; float:left; text-align:center;}
#footer_wrap_top > .footer_menu > ul > li:nth-of-type(1) {margin:3px 3px 3px 10px;}
#footer_wrap_top > .footer_menu > ul > li:nth-of-type(3) {margin:3px 3px 3px 10px;}
#footer_wrap_top > .footer_menu > ul > li:nth-of-type(5) {margin:3px 3px 3px 10px;}

#footer_wrap_top > .footer_menu > ul > li:hover {background-color:lightgray; cursor:pointer;} 
#footer_wrap_top > .footer_menu > h3 {margin:0px 0px 30px 10px;}
#footer_wrap_top > .footer_menu > h2 {margin:0px 0px 15px 20px;}
#footer_wrap_top > .footer_menu > .footer_menu_wrap {width:280px; height:300px; padding:40px 20px;}

#footer_wrap_top > .footer_menu > .fmenu_icon_box {width:90px; height:100px; border:1px solid #EAEAEA; float:left; margin:20px 3px 5px 3px; text-align:center;}
#footer_wrap_top > .footer_menu > .fmenu_icon_box > a > img {display:block; margin:10px 0px 5px 25px;}
#footer_wrap_top > .footer_menu > .fmenu_icon_box > span{font-size:13px;}
#footer_wrap_top > .footer_menu > .fmenu_icon_box:nth-of-type(1) {margin:20px 3px 5px 20px}
#footer_wrap_top > .footer_menu > .fmenu_icon_box:nth-of-type(1) > a > img {margin:10px 0px 5px 30px}
#footer_wrap_top > .footer_menu > .fmenu_icon_box:nth-of-type(2) > a  > img {margin:10px 0px 10px 30px;}
#footer_wrap_top > .footer_menu > .fmenu_icon_box:nth-of-type(4) {margin:20px 3px 5px 20px;}

footer > .footer_mid {min-width:100%; height:40px; background-color:#434343; border-bottom:1px solid #666;}
footer > .footer_mid > .footer_mid_wrap {width:1300px; height:40px; margin:0 auto;}
footer > .footer_mid > .footer_mid_wrap > ul > li {margin:8px 3px 0px 3px; float:left; color:white; font-size:14px;}
footer > .footer_mid > .footer_mid_wrap > ul > li > a{color:white; margin:0px 5px 0px 5px;}


.footer_last >.footer_last_wrap > .footer_logo {width:150px; height:150px; float:left; margin:30px 15px 0px 30px;}

.footer_last {min-width:100%; height:220px; background-color:#434343;}
.footer_last > .footer_last_wrap {width:1300px; height:20px; margin:0 auto;}
.footer_last > .footer_last_wrap > .footer_textbox {width:380px; height:140px; float:left; margin: 50px 20px 0px 20px; color:#CACACA; font-size:12px;}
.footer_last > .footer_last_wrap > .footer_textbox > .footer_p3:after{content:"[사업자정보확인]"; margin:0px 0px 0px 30px; font-size:10px; color: #75726A;}
.footer_last > .footer_last_wrap > .footer_textbox > .footer_p4:after{content:"이청용(sales@e-picasso.com)"; color:#75726A; font-size:10px;}
.footer_last > .footer_last_wrap > .footer_textbox > p:last-of-type {margin:20px 0px 0px 0px; color:#8E9999; }

.footer_last > .footer_last_wrap > .footer_mark {width:300px; height:100px; float:left; margin:50px 0px 0px 0px;}
.footer_last > .footer_last_wrap > .footer_mark > img {padding: 5px;}
.footer_last > .footer_last_wrap > .footer_pnum {width:250px; height:100px; margin:5px 0px 0px 80px; color:white; float:left; float:left;}
.footer_last > .footer_last_wrap > .footer_pnum {margin:50px 10px 0px 30px; color:white; text-align:right;}
.footer_last > .footer_last_wrap > .footer_pnum p:first-of-type {font-size:15px;}
.footer_last > .footer_last_wrap > .footer_pnum p:nth-of-type(2) {font-size:30px;}
.footer_last > .footer_last_wrap > .footer_pnum p:nth-of-type(3) {margin:0px 0px 0px 65px;}